*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(pink , rgb(67, 67, 160))center center/cover no-repeat;
    height: 100vh;
}
 .center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .out{
    background-color: whitesmoke;
    height: 520px;
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 50px;
    margin: 20px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
    flex-direction: columnk;
 }

 #inp{
    height: 40px;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 20px;
    font-family: cursive;
 }
 #btn{
    margin-top: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:yellow ;
    font-family: cursive;
    transition-duration: 1s;
 }
 #btn:hover{
    cursor: pointer;
    transform: scale(1.2);
 }
 #ou-ul li{
    list-style: none;
 }
 #btn-2{
    margin-top: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:blue ;
    font-family: cursive;
    transition-duration: 1s
 }
 #btn-2:hover{
    cursor: pointer;
    transform: scale(1.2);
 }